This file lists the Python libraries project depends on.

scikit-learn
pandas
numpy
Flask
Flask-SocketIO
gevent
greenlet  # This is a dependency of gevent
scapy
requests
matplotlib
seaborn
joblib
geoip2
